[Interface]
Address = 10.50.0.3/24
PrivateKey = <CLIENT02_PRIVATE_KEY_NOT_FOR_GIT>
DNS = 1.1.1.1

[Peer]
PublicKey = Mp7miFl5FYNtVXJzuIK0OzKoREtgIsSgOkji1Lrn8A0=
Endpoint = 192.168.239.132:51820
# Full tunnel: all IPv4 traffic goes through WireGuard.
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25
